<footer id="sticky-footer" class="py-4 text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "THES", "www.github.com/thethmuu", class:"text-white" %></small>
    </div>
</footer>